<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <title>Login</title>
    </head>
<body>
    <h1>Register</h1>
    <form method = 'post'>
    {% csrf_token %}
        <input type = 'text' name = 'username' placeholder = 'username'>
        <input type = 'password' name = 'password' placeholder = 'password'>
        <input type = 'email' name = 'email' placeholder = 'email'>
        <button type = 'submit' >SUBMIT</button>
    </form>
</body>
</html>